name: CI
on:
  push:
    branches:
      - main
jobs:
  build_and_deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: git config
        run: |
          git config user.name "kanelloc"
          git config user.email "kanelloc@users.noreply.github.com"

      - run: >
          echo "//registry.npmjs.org/:_authToken=${{ secrets.NPM_TOKEN }}" >> ~/.npmrc

      - name: Setup
        uses: ./.github/actions/setup

      - name: Lint files
        run: yarn lint

      - name: Typecheck files
        run: yarn typecheck

      - name: Run unit tests
        run: yarn test --maxWorkers=2 --coverage

      - name: Build package
        run: yarn prepack

      - name: NPM release
        run: yarn release-ci
        env:
          GITHUB_TOKEN: ${{ secrets.GIT_TOKEN }}

